[2018-10-17 03:29] triniwiz opened #1 "Add Query method"

[2018-10-17 03:32] triniwiz opened #2 "Add blob/attachment"

[2018-11-20 09:59] geraldapeoples opened #3 "Typo in source code"
Line 455 of couchbase-plugin.android.ts

It should be -

nativeQuery = nativeQuery.**and**(this.setComparision(item));

instead of

nativeQuery = nativeQuery.**add**(this.setComparision(item));

[2018-11-27 10:53] elcreator opened #4 "Need Basic Authentication"
Hi, I don't see ways how to connect this to the Sync Gateway with Basic Authentication.
It would be great to have method push.setBasicAuthenticator("user", "password"); like here https://github.com/nabil-mansouri/nativescript-couchbaselite
Or at least ability to provide auth cookie.

[2018-11-27 13:52] triniwiz commented on #4
There is the follow just not documented (need all the help I can get) 😃 so please test it and LMK
[code]

[2018-11-27 22:48] elcreator commented on #4
Thank you, this works without calling setContinuos(true). Otherwise I see error:

    this.push = this.database.createPushReplication(`${gateway}${this.dbName}`, login, password);
    this.pull = this.database.createPullReplication(`${gateway}${this.dbName}`, login, password);
    this.push.setContinuous(true); // works once if comment this line
    this.pull.setContinuous(true); // works once if

[2018-11-27 22:52] triniwiz commented on #4
Thanks for testing

[2018-11-29 02:29] #1 closed

[2018-11-29 02:35] triniwiz commented on #4
I released a new version I remove the old way of setting the user after you create rep you now have

[code]

[2018-11-30 01:17] elcreator commented on #4
Thank you!

[2018-12-18 23:25] Manbearpixel opened #8 "Receiving this error when attempting to use this plugin?"
[code]

Code:
[code]

[2018-12-19 00:02] Manbearpixel commented on #8
Seems to be working now, I think the JAR dependency just wasn't installing properly. Thanks!

[2018-12-19 00:02] #8 closed

[2019-01-22 17:19] #2 closed

[2019-01-23 08:21] jerbob92 opened #14 "Executing DB queries on background thread"
I decided to create an issue about this before starting the work.
We're are experiencing UI hangs on DB queries, this makes sense, because NativeScript is all on the UI thread.
We want to make this plugin run the DB queries on a background thread so the UI doesn't hang when we execute these queries and respond with a promise that resolves when the query is completed. NativeScript also does this fo

[2019-01-23 11:44] triniwiz commented on #14
Good idea it’s simple to do this first you need to create your method an a callback so you can use that to make it into a promise on the js side

[2019-01-23 16:33] triniwiz commented on #14
@jerbob92 are you doing it ? because I started something 🙂

[2019-01-23 17:33] jerbob92 commented on #14
@triniwiz, yeah you can see it in my fork. Curious what approach you are taking though.

[2019-01-23 17:49] triniwiz commented on #14
🤔 you are changing all the methods into a promise

[2019-01-23 17:52] jerbob92 commented on #14
Like I said: curious what approach you are taking though. I'm following the NativeScript core approach.

[2019-01-23 17:57] triniwiz commented on #14
It's ok my i started with was passing the built object e.g `Select` to the java class  then let it execute there then try using `Gson` to serialize to a string pass that back to the listener then parse it in the js world

[2019-01-23 17:58] triniwiz commented on #14
[code]

[2019-01-23 18:29] jerbob92 commented on #14
That's only for the query though, how would you make the other methods threaded? The code in my branch already works for Android, only the batch method is hard to make threaded when stuff in the runnable are made out of Promises.

[2019-01-23 18:43] triniwiz commented on #14
Does the ios methods need to be called on another thread or is it fine in your tests ?

[2019-01-23 18:45] jerbob92 commented on #14
I didn't get to iOS yet, wanted to have Android stable first. But my plan is to make both of them threaded.

[2019-01-23 18:49] triniwiz commented on #14
For the inBatch I might have an idea

[2019-01-23 19:13] jerbob92 commented on #14
Cool! I just noticed I didnt commit everything yet. Fork is updated now.

[2019-01-23 20:42] triniwiz commented on #14
Something like the following should be fine
[code]

[2019-01-23 20:58] jerbob92 commented on #14
That will not work. My code for the inBatch does work like this currently. But since the calls inside the runnable now also use promises, the run() method on the runnable immediately returns, while the actuall calls within those promises didn't run yet. I have to find some way to make the runnable.run() return after those promises have completed. Mixing Java and JavaScript can have its problems 😕

[2019-01-24 15:07] jerbob92 commented on #14
I have figured out a solution for the batch problem in my fork. I first tried an approach by using a custom class that implemented the Runnable interface that would just use Thread.pause(50) while the Promise was still running. Technically, this worked, but the native Couchbase inBatch/save/delete methods locks the db to it's current thread, and since the update/create/delete calls in the plugin a

[2019-01-24 15:31] triniwiz commented on #14
for serializing have you looked at gson ?

[2019-01-24 15:35] jerbob92 commented on #14
How would gson fit into this? Serialize it in the thread and then JSON.parse in JS?

[2019-01-24 15:37] triniwiz commented on #14
Yes :) the performance for `JSON.parse` should not be bad

[2019-01-24 16:56] jerbob92 commented on #14
I'm not sure if the slowness is actually coming from the serialize, I measured it and it's not really that slow.

[2019-02-02 19:23] jerbob92 commented on #14
I figured out some of my JSON objects were very large due to some issue on the API which caused some slowness in the JSON.Parse in NS.

Currently our Android threaded version in working great! I just pushed an update to my fork that's feature complete and everything is working. I also figured out that there is some issue in your changeListener implementation, only one worked, so I fixed that too a

[2019-02-02 19:26] triniwiz commented on #14
I think we could leave the older api an append lets say `async` to new methods to help maintain some compatibility with the old couchbase plugin

[2019-02-02 20:40] jerbob92 commented on #14
It might be better to release a new major version. But if anyone likes to put time in creating an async version, sure.

[2019-02-02 20:43] triniwiz commented on #14
The same code you did can be used since it’s all promises

[2019-02-02 21:12] jerbob92 commented on #14
I'm not certain you can just put async somewhere and it runs promises in sync anywhere.

[2019-02-24 20:54] Izrab opened #15 "Support for Vanilla JS"
I cannot find any documentation or demo for Vanilla JavaScript.
I have NativeScript vanilla JavaScript project, not TypeScript, nor Angular, nor Vue.

[2019-02-25 18:30] Izrab commented on #15
SOLVED.

const Couchbase =  require('nativescript-couchbase-plugin').Couchbase;
const database = new Couchbase('my-database');

const documentId = database.createDocument({
    "firstname": "O",
    "lastname": "Fortune",
    "address": {
        "country": "Trinidad and Tobago"
    }
    "twitter": "https://www.twitter.com/triniwiz"
});

const person = database.getDocument(documentId);

database.

[2019-03-07 13:56] tonyhogben opened #16 "Could not find module 'nativescript-couchbase'"
### Which platform(s) does your issue occur on?
- iOS and Android
- iOS 12.1 and Android 4.4.4
- emulators and real devices (iPhone 6s and Nexus 4)

### Please, provide the following version numbers that your issue occurs with:

- CLI: 5.1.1
- Cross-platform modules: 5.2.2
- Runtime(s): 5.1.1 and 5.1.0 (ios/android)
- Plugin(s):
  "dependencies": {
    "email-validator": "^1.0.7",
    "moment": "^

[2019-03-07 16:46] triniwiz commented on #16
you are using the wrong package name `nativescript-couchbase-plugin` is the correct name

[2019-03-07 17:27] tonyhogben commented on #16
Sorry, maybe I didn't describe the issue correctly. If you see my dependencies, I am using `nativescript-couchbase-plugin` but my project is still trying to reference `nativescript-couchbase` even though I have removed that plugin and refreshed the project.

I can't for the life of me work out why. If this is not an issue with either of these two plugins, maybe I will have to post in the main nati

[2019-04-04 16:55] triniwiz opened #18 "Serialize comparison values"
Serialize values before passing them to the query

[2019-04-04 17:52] #18 closed

[2019-04-12 18:03] jerbob92 commented on #14
@triniwiz We finished the iOS threaded version. Are you interested in merging it all together to create a 2.0 version?

[2019-04-12 18:04] triniwiz commented on #14
Pr away 🙂

[2019-04-12 18:10] jerbob92 commented on #14
@triniwiz sure :)
But I have some cleaning up to do and want to discuss some things:
 - Where does the native code live? In the same repo?
 - Do we push the native libraries somewhere? (Maven/CocoaPods)
 - If we do, who will be the owner of those libraries?
 - I changed everything to Promises, because it makes more sense when everything is non-blocking. Do you agree?

[2019-04-12 18:13] triniwiz commented on #14
Native code can live in the platforms directory for both platforms i never tested for swift code

[2019-04-12 18:14] triniwiz commented on #14
We can release it as v2

[2019-04-12 18:18] jerbob92 commented on #14
I don't think you can directly add the native libs into your platform folders and have it work.
Android need's an aar right? For iOS we can probably add a Podfile that points to a folder in stead of a version. I will try next week!

[2019-04-12 18:48] triniwiz commented on #14
You can do [this](https://github.com/rosen-vladimirov/appNativeCode/tree/master/app/App_Resources/Android/src/main) for android in the platforms directory and maybe even [this](https://www.nativescript.org/blog/adding-objective-c-code-to-a-nativescript-app) for ios

[2019-04-13 07:30] jerbob92 commented on #14
I think that's for NativeScript projects, not plugins.

[2019-04-13 18:35] triniwiz commented on #14
So [this](https://github.com/triniwiz/nativescript-pager/blob/acd0802dc456fe8c3c5aac7c301a829f63823f42/src/platforms/android/java/com/lambergar/verticalviewpager/PagerAdapter.java) is wrong ?

[2019-04-18 07:38] uttahb opened #19 "app crashes with error JNI DETECTED ERROR IN APPLICATION: input is not valid Modified UTF-8: illegal start byte 0x8c"
I am using couchbase for persisting data, with large data objects. Now when I am initialising db with data I am getting from server, the app getting crashed with error

[code]

I am observing the crash in android device version Android 5.1 Please suggest if there is any workaround for this. I do not have a handle on the data that is to be inserted to the couch db.

[2019-04-18 14:58] triniwiz commented on #19
It’s mentioned in the error `input is not valid Modified UTF-8`

[2019-05-20 14:20] Izrab opened #22 "Syncing: on iOS push does not work"
I tested syncing on Android (version 5.1.1) and iOS (version 12.2) on real device.
On Android, everything works fine, but on iOS pushing data to the server database does not work, though pulling new data from server works.
Here is my sync code in app.js:

[code]

Couchbase Server 6.0.0 community edition and Sync Gateway 2.5 community edition are installed and in use on Windows 10 laptop.

[2019-07-03 13:58] Nahiduzzaman opened #23 "QueryComparisonOperator 'in' is not working"
Please check the source code.
const query = {
            select: [],
            where: [
                {
                    property: 'ItemArray',
                    comparison: 'in',
                    value: 'available'
                }            ]
        }

[2019-07-25 15:15] Izrab commented on #22
For anyone having this issue, it might be because of not enabling non-HTTPS connection in iOS and Android 9 or higher. To do that, for Android,  add android:usesCleartextTraffic="true" to
<application> in AndroidManifest.xml, and for iOS, add
<key>NSAppTransportSecurity</key>
     <dict>
          <key>NSAllowsArbitraryLoads</key><true/>
      </dict>
to info.plist

This might be the solution, **b

[2019-07-25 15:16] #15 closed

[2019-07-25 15:17] #19 closed

[2019-07-25 18:55] Izrab commented on #16
@tonyhogben Delete ".platforms", ".cloud", and "node_modules" folders, and delete "package-lock.json" file, also click on "clean cloud workspace" in Sidekick GUI (if you use cloud builds).
Also recheck package.json to insure it is `nativescript-couchbase-plugin`, also when requiring or importing couchbase plugin module, follow the docs and samples.

[2019-08-20 07:45] iZisHere opened #26 "channels for pull replication"
Hi, is there a way to set the channels for pull replication?
Would really appreciate if this method is available.
Thanks :)

[2019-08-27 14:33] ShyshkovOleg opened #28 "Lack of documentation"
Is there any way to chain WHERE in a query?
What does 'logical?' operator and 'between' do?
What is offset property?

[2019-08-28 09:09] ShyshkovOleg commented on #28
Hope it would save someone time. You could chain query results like this:
`const res = localDatabaseName.query({
            select: [],
            where: [
                { property: "time", comparison: "greaterThanOrEqualTo", value: start },
                { property: "time", comparison: "lessThanOrEqualTo", value: end }
            ]
        });`

[2019-09-13 15:14] room101b opened #29 "How do I tell if a database already exists?"
I know that I can get a database, or create one if it doesn't exist with:
var db = new Couchbase('test-database');
How can I tell whether I created a new one or just connected to an existing one?
I want to populate the database when an app is first installed, so I need to know if the database is freshly created.

[2019-09-30 11:02] Pkurto opened #30 "QueryWhereItem - Case insensitive comparation"
Hello,

I am using this plugin with my Nativescript application.
I am filtering the Couchbase results by a productName property but I cannot find a way to do this filtering case-insensitive. For example:

`` this.database.query({
      select: [],
      where: [{ property: 'productName', comparison: 'like', value: '%test%' }]
   });``

Is there a possible way to use like case-insensitive?
Using lo

[2019-10-21 20:28] alexrainman opened #35 "Question: branch with version 1.4.x to get encryption functionality"
Possible?

[2019-10-22 15:34] triniwiz commented on #35
I dont think it might be compatible but I can look into adding encryption

[2019-10-22 15:57] alexrainman commented on #35
Encryption was removed from Couchbase.Lite 2.x. It is an Enterprise functionality now. I was looking into doing JSON values encryption using the following approach:

1. Install these plugin: https://github.com/roryrjb/crypto-json

2. Get the list JSON object keys:

[code]

3. Encrypt using crypto-json:

[code]

What do you think?

[2019-10-24 19:03] alexrainman commented on #35
@triniwiz any news?

[2019-11-02 09:41] alexandruantonica commented on #14
@jerbob92 What is the status with your background thread idea? I have seen your changes and looks good.
Do you intend to create a pull request for this plugin? It would be nice and helpful ;)

Thanks ;)

[2019-11-04 08:13] jerbob92 commented on #14
@alexandruantonica We are using our Android fork in production, it's working great :) We already created an iOS version but are not using that one yet due to stability problems.
However, we do intend to create a pull request. If someone else wants to pick that up, here's the fork that contains the Android work: https://github.com/jerbob92/nativescript-couchbase-plugin/commits/feature/threading

[2019-11-04 08:25] alexandruantonica commented on #14
Thank you for your reply.
A PR will be great but I would need the iOS version to be ready.

Have a great day

On Mon, 4 Nov 2019 at 8:13 am, jerbob92 <notifications@github.com> wrote:

--

--
*Alexandru-Claudiu Antonica*

*Lead Frontend Developer*
*TAPPTER LTD*
*London, UK*

*Phone: *+44 7397 787 811
*Skype* *ID:* alexandru.antonica

[2019-11-04 08:26] jerbob92 commented on #14
@alexandruantonica I can push our work on the iOS version, but you will need to do some testing/fixing on your own to get it production ready. Let me know and I will push the work :)

[2019-11-04 08:49] alexandruantonica commented on #14
Please push it and I will take some time to check it out.

On Mon, 4 Nov 2019 at 8:26 am, jerbob92 <notifications@github.com> wrote:

--

--
*Alexandru-Claudiu Antonica*

*Lead Frontend Developer*
*TAPPTER LTD*
*London, UK*

*Phone: *+44 7397 787 811
*Skype* *ID:* alexandru.antonica

[2019-11-04 09:04] jerbob92 commented on #14
I just pushed it :)
The native library is in https://github.com/jerbob92/nativescript-couchbase-plugin/tree/feature/threading/native-libraries/ios
The bridging code is in https://github.com/jerbob92/nativescript-couchbase-plugin/blob/feature/threading/src/couchbase-plugin.ios.ts

This will probably not work automatically, we used a private Podspec repo to download the library. But as @triniwiz sai

[2019-11-05 11:23] Pkurto commented on #30
Any idea?

I also tried to query with the "regex" operator without success:

`[{ property: 'productName', comparison: 'regex', 'test/gi'}]`

and`
[{ property: 'productName', comparison: 'regex', '/test/gi'}];`

[2019-11-05 16:02] Pkurto commented on #30
I found a way to do the case-insensitive search but I do not recommend it. **It is not an acceptable answer** for this problem because the query will be very heavy. Can anyone help me to resolve this with a better solution?

` [{"property":"productName","comparison":"regex","value":"[tT][eE][sS][tT]"}]`

[2019-11-05 20:29] triniwiz commented on #30
So it looks like the regex operator isn't using the correct native builder

[2019-11-05 20:31] triniwiz commented on #30
Android right?

[2019-11-05 20:36] Pkurto commented on #30
Yes it occurred in Android. I will test it on IOS tomorrow and give you the feedback.

[2019-11-05 20:37] triniwiz commented on #30
Looks like iOS is handled like it should

[2019-11-07 11:24] Pkurto commented on #30
I confirmed that for IOS is not working as well:
`[{ property: 'productName', comparison: 'regex', 'test/gi'}]` or
`[{ property: 'productName', comparison: 'regex', '/test/gi'}];`

If I remove the '/' and '/gi' from the above example it searches as
`[{ property: 'productName', comparison: 'like ', '%test%'}];`

[2019-11-13 09:58] Pkurto commented on #30
Any news on this problem?

[2019-11-14 12:29] odcf12 opened #36 "Is posible create pull and push by documentId ?"
I need to sync documents by documentId, is it possible?

[2019-11-26 11:14] Pkurto commented on #30
Any update on this bug? or workaround?

[2019-11-28 16:22] gbonline opened #37 "QueryArrayOperator: what about it?"
I would like to use the operator `QueryArrayOperator` `'contains'` that is present in common.ts
but it's never used.
I'm trying to query a document with a property which is  Array and where I would like to find all documents in array with searched values

[2019-12-02 15:58] timostuebing commented on #30
Same here: It would be great to have the possibilty to query Couchbase case-insensitive here.

In our project, we implemented a product search where it would be really convenient for the user to not worry about capitalization of product names.

Any help appreciated.

[2019-12-02 17:24] triniwiz commented on #30
can you try `like` 😄

[2019-12-02 17:26] Pkurto commented on #30
like is not case insensitive.

[2019-12-02 17:41] triniwiz commented on #30
feel free to reopen 😃

[2019-12-02 17:44] triniwiz commented on #35
sounds good we will need to add a shim for the crypto stuff

[2019-12-02 17:45] triniwiz commented on #26
yes `setChannels` method on the replicator

[2019-12-02 17:45] #26 closed

[2019-12-02 17:54] Pkurto commented on #30
I notice that you share a new plugin release.
I removed the old couchbase plugin, clean the android platform and installed the new plugin version. However, I am getting the following error on compile:
`ERROR in node_modules/nativescript-couchbase-plugin/index.d.ts(36,47): error TS2304: Cannot find name 'CBLListenerToken'.`

Can you check this problem?

[2019-12-02 18:04] alexrainman commented on #35
This will need something transparent for the developer. If the encryption key is provided, automatically encrypt/decrypt data while writing/reading documents.

[2019-12-02 18:11] triniwiz commented on #30
try upgrading again 😄

[2019-12-03 10:35] Pkurto commented on #30
With your correction the code is compiling again. However, when I try to search a text with the like operator it close the app without any error on the logs :(

I'm using multiple properties in the where clause, for example:
`[{"property":"productName","comparison":"like","value":"%life%"},{"property":"etag","comparison":"like","value":"%life","logical":"or"},{"property":"tradeName","comparison":"

[2019-12-03 15:29] OliverNiebsch commented on #30
Same here. I need a case-insensitive search with like, but with the version 0.9.4 or 0.9.5 the app crashes whenever I'm using a query with like or regex.

Crashes happens on iOS and Android. On Android I got this Exception:
`JNI ERROR (app bug): attempt to pass an instance of java.lang.String as argument 1 to com.couchbase.lite.Expression com.couchbase.lite.AbstractFunction.lower(com.couchbase.lit

[2019-12-03 18:06] Pkurto commented on #14
@alexandruantonica did you manage to get this to work on both platforms (Android and iOS)?

[2019-12-03 18:20] alexandruantonica commented on #14
@Pkurto No, unfortunately, I was busy and I wasn't able to take a look. If you manage to take a look and do something, let me know.

[2019-12-09 11:09] Pkurto commented on #30
@triniwiz can you check the @OliverNiebsch comment and see if it is possible to solve this issue?
App is crashing whenever we're using a "like" operator :(

[2019-12-10 11:00] OliverNiebsch commented on #30
@Pkurto Can you please reopen this issue since it's not solved yet?

I'm also waiting and looking forward to this fix.

[2019-12-10 11:09] Pkurto commented on #30
@OliverNiebsch I already try to re-open this issue, however I cannot see that option in git.
Maybe because I'm not a repo collaborator and @triniwiz close it?

@triniwiz can you re-open this issue?

[2019-12-16 14:58] Pkurto commented on #30
any update on this issue?

[2019-12-16 15:12] triniwiz commented on #30
@Pkurto updating some plugins so I'll try to fit it in

[2019-12-16 17:23] Pkurto commented on #30
@triniwiz thank you, I will wait for an update :)

[2019-12-18 13:04] kaanna opened #39 "GROUP BY"
## Is there a way to group?

How to use GROUP BY_?
I expected to get result of ...
[code]
I have tried ...
[code]

[2020-01-06 08:16] timostuebing commented on #30
@triniwiz I hope you had a good New Year!
Is there a chance that you find the time to look into this and build a new release? Would really appreciate it!

[2020-01-06 13:28] triniwiz commented on #30
fixed: https://github.com/triniwiz/nativescript-couchbase-plugin/commit/45adb494c43cab01d2d4b2a7cbd19c67b587314b
released: https://github.com/triniwiz/nativescript-couchbase-plugin/commit/79154fe8a0d2267ca7233e9eef85816b5dee8b0d

[2020-01-06 13:28] #30 closed

[2020-01-09 17:54] Pkurto commented on #30
Happy new year @triniwiz.
I tried your new release and when we search in lowercase it works correctly and case insensitive:

However, if you use uppercase in the search text it will not match with any string:

Please, can you fix this bug? This feature has a big value for your application.
Waiting for updates,
Best Regards

[2020-01-09 18:12] Pkurto commented on #30
If I force all text insert by the user to lowercase before passing to QueryWhereItem it will work.
I think you are forcing lowercase in the information from the db property and forgot to lowercase the input comparison value.

Hope this help.

[2020-01-15 10:33] Pkurto commented on #14
Hi @jerob92,
Can you create a pull request for this plugin to include the android background thread?
It will be amazing to use this feature :)

[2020-01-15 10:36] jerbob92 commented on #14
@Pkurto no, my fork changes a lot of methods, so it's not backwards compatible. It's also not really useful to create a pull request when the iOS version is not finished/stable yet. If you do want to use it you can use my fork.

[2020-01-15 10:52] Pkurto commented on #14
@jerbob92 thank you for the quick response and effort to develop this feature. I think this is one of the most important enhancements for this plugin.

I was only suggesting a PR only because I was thinking that the Android code could be added without the iOS alterations.
Also, I am using this plugin in a Project and @triniwiz already corrected an issue related with case insensitive search. If I u

[2020-01-15 10:54] jerbob92 commented on #14
@Pkurto That's possible but then in my opinion the plugin is not complete. If you want recent fixes in my fork you can create your own fork of my fork and then merge the commits from @triniwiz.

There's not really any documentation for the iOS version, and we are also not planning on using this plugin anymore so we're not going to put more time into it.

[2020-02-05 23:56] NeriCodec opened #40 "ERROR NSErrorWrapper: unable to open database file"
### Issue
When I insert quickly, this is when this happens.

### Which platform(s) does your issue occur on?
- iOS
- emulator

### Please, provide the following version numbers that your issue occurs with:

[code]

[2020-02-09 17:07] Marc-Cilliers opened #41 "QUERY: WHERE"
Is it possible to query a property's property?
Following on from the example you created, if I have a user:

[code]

How do I query based on the country?

Is it:

[code]

Or is it:

[code]
?

[2020-02-17 04:15] tingfong214 opened #42 "Storage of App on devices increase even deleting data"
I am using this plugin with my Nativescript application.
This app is heavily using this plugin creating, updating, deleting, querying local databases.
It's okay the storage on device increases when new data is created
However, the storage increased even when data is updated or even deleted.
Hence, the storage of this app on devices is increasing in a very short period.

![86806621_789573164866048_

[2020-02-20 20:23] crowmagnumb commented on #29
Can't you just put a marker record in the database. If the record exists its not new, if it doesn't exist the db is new and you should add the marker record.

[2020-03-13 21:35] glorious73 commented on #29
Here is one way of doing it:

1. Query the database without options.
2. check if the returned array is empty.

Let's define a generic repository that has the methods 'getAll()' and 'isEmpty()' to see that in action.

[code]
Now let's use it in another module.
[code]
Hope this helps.

[2020-03-15 22:31] rayneram opened #43 "Support for CBL 2.7"
Is it possible to update this plugin to support Couchbase Lite v2.7? There have been a number of key fixes since the currently supported release (2.5.3).

[2020-03-16 14:28] triniwiz commented on #43
Thanks I’ll look

[2020-04-09 22:58] drewjbartlett commented on #42
I've noticed that `.destroyDatabase` doesn't do anything. I've had to write my own method that iteratively deletes every record which is not ideal.

[2020-04-09 22:59] drewjbartlett commented on #43
@triniwiz I am using this library heavily in my app. Are there things I can help you with to improve this? I'm happy to lend a hand.

[2020-04-19 08:22] AndreasDegenhart opened #44 "deleteDocument missing ConcurrencyMode Param"
Hi,

is there any reason for missing the ConcurrencyMode Param in index.d.ts

deleteDocument(documentId: string): any;

should be

deleteDocument(documentId: string, node: ConcurrencyMode): any;

Thank you

[2020-04-30 20:05] gnubyte commented on #41
Open a thread on stackoverflow and post it back here and I'll answer both this one and the stackoverflow post. I need the stackoverflow credit, lol.

Cheers.

[2020-05-14 06:18] sbstnplcn opened #45 "Can't find variable: CBLDatabase Error"
Hi.
When I try to run app in IOS (with "tns run ios") I have this error :

`
JavaScript error:
file: node_modules/nativescript-couchbase-plugin/couchbase-plugin.ios.js:15:32: JS ERROR ReferenceError: Can't find variable: CBLDatabase
(CoreFoundation) *** Terminating app due to uncaught exception 'NativeScript encountered a fatal error: ReferenceError: Can't find variable: CBLDatabase
at
Couchbase(f

[2020-08-12 08:54] cvietor commented on #41
a little late to the party, but for future reference:

it is the second one:
`where: [{ property: 'address.country', comparison: 'equalTo', value: 'Trinidad and Tobago' }],`

[2020-08-21 22:01] senner007 commented on #14
A simple solution is to just call the database queries on a worker thread.
https://docs.nativescript.org/core-concepts/multithreading-model

[2020-08-22 01:01] triniwiz commented on #14
I have an idea of what to do just need some time

[2020-08-24 02:52] ghinazi commented on #43
any updates on this?

[2020-09-08 15:49] lostation opened #46 "Couchbase Lite Exception -> Can't delete db file while other connections are open"
Hi Triniwiz,

First of all ... as always thank you for all you've done for NS !

Then... I'm facing maybe dumb issue...

I'm trying to delete|destroy database content... So I'm calling myDB.destroyDatabase();
Strangely if myDB has already been opened and fulfilled with some data and then I want to destroy data, I get this exception.

--> CouchbaseLiteException{domain='CouchbaseLite', code=16, msg=

[2020-09-08 18:33] triniwiz commented on #46
I didn’t expose a close method but you can try `myDB.android || .ios.close()` <- which ever platform you’re on

[2020-09-09 17:06] lostation commented on #46
Yep that seems to do the trick ;) Thanks.
Now I'm getting the database, do my stuffs and right after I close it. I'm not sure it's a performance issue...to close every time...but it seems to work.

But do you have an idea how to create index from your plugin ?
I have to manage about 3000 items and it not seems very fast when I do query all the items is about 3 sec...

[2020-09-09 17:19] triniwiz commented on #46
I did not expose that feature but will add it in the next version also it would be v7 only another I can try enabling the multithreaded feature (currently begin a flag v7 only) then you even use the batch method 🙂

[2020-09-09 17:25] lostation commented on #46
Aïe I'm not quite ready to upgrade to NS7 right now... I'm working on a big entreprise angular shared project...so it's a huge truck to move ;)
Thanks Osei.

[2020-09-09 17:30] triniwiz commented on #46
Ah understood , you see I’m doing a massive clean up with all the plugins I maintain an the ones that got under-maintained ... I think everyone would love the next move 🙂

[2020-09-09 17:31] lostation commented on #46
sure !

[2020-09-09 18:37] lostation commented on #46
Finally... I will wait until your next plugin version, currently Couchbase is way too slow for my needs... Or maybe it's not the right tool. I don't know... I've simply compared its read performance with a simple string application storage done by child workers and that's really really more performant...From 3 sec to some milliseconds...Unbelievable, I've even added a timeout to let the time for s

[2020-09-09 18:37] #46 closed

[2020-10-01 05:29] deczaloth commented on #35
Did this work at the end?

[2020-10-12 15:04] mauriciopena opened #47 "createView is not a function"
Hello,

when I try to create a view like this:

import { Couchbase } from 'nativescript-couchbase-plugin'

const db = new Couchbase('my-db')

db.createView("myview", "1", function(document, emitter) {
  emitter.emit(document._id, document)
})

I'm getting "createView is not a function". How can I create a view with this plugin?

[2020-10-12 17:27] triniwiz commented on #47
in v2.0 they removed it I think for in favour of queries

[2020-10-22 09:52] PiyushHM opened #48 "how to get count of items from document"
Do we have a method that returns count/length of items in any document of database ?

let db = new Couchbase("database");
const data = [ { ...}, {...}, {...}] // lets say 10 records

let documentId = db.createDocument(
          { "data": data },
);

how to get count 10 from documentId ? not seeing any direct method for it. pls suggest.

[2020-10-22 14:43] triniwiz commented on #48
You will need to use the if returned after creating the new document then call getDocument

[2020-10-22 17:50] PiyushHM commented on #48
Not sure if I understand correctly. Is it possible for you to provide code snippet related to same.

[2020-10-22 18:10] triniwiz commented on #48
[code]

[2020-10-23 04:24] PiyushHM commented on #48
this worked. Thank you.

I was trying other way, but not suggested/preferred, I guess
const databaseQuery = await db.query({select: [], });
console.log("content length", databaseQuery[0].data.length);

[2020-10-23 04:33] #48 closed

[2020-11-07 08:24] PiyushHM opened #49 "Need query to get data using offset and limit"
hi,
I am trying to create query to get items like in pagination, using offset and limit from one of the document of database.

let db = new Couchbase("database");
const data = [ { timestamp: 111, ...}, {timestamp: 112, ...}, {timestamp: 113, ...}] // lets say 10 records

let documentId = db.createDocument(
{ "data": data },
);

const results = database.query({
    select: [],
    where: [

[2020-11-07 21:49] triniwiz commented on #49
What results are you getting ?

Sent from Yahoo Mail for iPhone

On Saturday, November 7, 2020, 4:24 AM, PiyushHM <notifications@github.com> wrote:

hi,
I am trying to create query to get items like in pagination, using offset and limit from one of the document of database.

let db = new Couchbase("database");
const data = [ { timestamp: 111, ...}, {timestamp: 112, ...}, {timestamp: 113, ...}] //

[2020-11-08 04:16] PiyushHM commented on #49
with below query, I am getting empty array.

const results = database.query({
      select: [],
      where: [
      {
      property: "data.timestamp",
      },
      ],
      order: [{ property: "data.timestamp", direction: "desc" }],
      limit: 10,
      offset: 5
      });

Seems I am missing something here

[2020-11-18 13:32] SmailHammour commented on #44
@triniwiz Could you fix this, please?
It's available in the docs but not in the typings file.

// Default concurrency mode is FailOnConflict if you don't pass it
const isDeleted = database.deleteDocument(documentId, ConcurrencyMode.FailOnConflict);

deleteDocument(documentId: string): any;

[2020-11-24 13:37] PiyushHM opened #50 "runtime visualise data from database"
I am using this plugin in nativescript vue project. But observing some issues like database is returning 0 results or the query is not returning expected data.
Wondering if we have a tool to visualise data within database during runtime like in browser.

Thank you.

[2020-11-24 15:07] triniwiz commented on #50
I'm not sure but I can look into it

[2020-12-06 03:47] #47 closed

[2020-12-08 20:42] triniwiz commented on #43
Updated to 2.8.x [here](https://github.com/triniwiz/nativescript-plugins)

[2020-12-08 20:42] #43 closed

[2020-12-08 20:44] #16 closed

[2020-12-08 20:45] triniwiz commented on #28
The new docs are located [here](https://triniwiz.github.io/nativescript-plugins/api-reference/couchbase.html#couchbase) I'll try to add more info

[2020-12-08 20:45] #28 closed

[2020-12-08 20:48] triniwiz commented on #42
Can you try the [latest version](https://github.com/triniwiz/nativescript-plugins) for v7 since it's using their latest sdk

[2020-12-08 20:48] #42 closed

[2020-12-08 20:49] #22 closed

[2020-12-15 12:19] PiyushHM opened #51 "getDocument take longer for more records"
const document = db.getDocument(documentId);

This call take almost 15 to 20 seconds for more than 1000 records.
Is there a better way to improve performance ?

[2020-12-15 16:39] triniwiz commented on #51
I have a couple ideas I wanna explore 🙂

[2020-12-16 11:25] PiyushHM commented on #51
instead of getting getDocument and do array/lodash operations. can we have db.query for any document. or any other workaround to better the performance ?

this is very very urgent. We are at last stage of app development.

[2020-12-16 14:21] triniwiz commented on #51
can u share an example of how you are using `getDocument ` for more than 2k items ?

[2020-12-16 15:04] PiyushHM commented on #51
below is the code for adding data to database document:-

function (content) {
      const documentId = db.getDocument("content");
      if (documentId == null) {
        db.createDocument(
          { content: content },
          "content"
        );
      } else {
        // updateDocument is not working as expected
        // Workaround: add new content with old contents
        // delete exis

[2020-12-17 05:37] triniwiz commented on #51
I published some new updates to version locate [here](https://github.com/triniwiz/nativescript-plugins)

[2020-12-17 06:30] PiyushHM commented on #51
hi Triniwiz,
Not clear with your comment. The path specified is with new library.

Currently I am using "nativescript-couchbase-plugin": "^0.9.6"
do I need to use other version version of above plugin ?
do I need to use other package itself 'triniwiz/nativescript-plugins' ?

The API reference (https://github.com/triniwiz/nativescript-plugins/blob/master/docs/src/api-reference/couchbase.md) has no

[2020-12-17 17:56] triniwiz commented on #51
Ah still using {N} v6 sorry the update is only for V7+

[2020-12-17 18:00] PiyushHM commented on #51
Using nativescript v7 only. Am I missing anything here ? Please provide more details.

[2020-12-17 18:03] triniwiz commented on #51
Have you tried updating to version 1.1 of the plugin? It’s `@triniwiz/nativescript-couchbase`

Sent from Yahoo Mail for iPhone

On Thursday, December 17, 2020, 2:00 PM, PiyushHM <notifications@github.com> wrote:

Using nativescript v7 only. Am I missing anything here ? Please provide more details.

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub, or

[2020-12-18 08:58] PiyushHM commented on #51
I added plugin "@triniwiz/nativescript-couchbase": "^1.1.0" instead of 'nativescript-couchbase-plugin'.

but getting below error during db operations ...
JS: java.lang.NullPointerException: Parameter specified as non-null is null: method kotlin.jvm.internal.Intrinsics.checkNotNullParameter, parameter document

[2020-12-19 03:41] PiyushHM commented on #51
what I observe, creating a instance of database at common place and using in other files before any database call, throws above error.

[2020-12-23 10:42] PiyushHM commented on #51
Can we get any fix/workaround for this issue ?

[2020-12-23 17:40] triniwiz commented on #51
I’ll push something out soon

Sent from Yahoo Mail for iPhone

On Wednesday, December 23, 2020, 6:42 AM, PiyushHM <notifications@github.com> wrote:

Can we get any fix/workaround for this issue ?

—
You are receiving this because you commented.

Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-12-25 17:35] PiyushHM commented on #51
Sure. Please reply once you push the changes. Need it urgently.

[2021-04-05 10:12] PeterStaev opened #52 "Migrate plugin to use new @nativescript/core imports"
### Make sure to check the demo app(s) for sample usage

### Make sure to check the existing issues in this repository

### If the demo apps cannot help and there is no issue for your problem, tell us about it
The current version of the plugin works perfectly with NS 7 because of the webpack alt loading modules. But just upgraded a project to NS 8 / Webpack 5 and the plugin no longer works. Webpac

[2021-04-06 01:38] triniwiz commented on #52
Hey @PeterStaev it's under ` @triniwiz/nativescript-couchbase` here is for v6 support all v7+ plugins are [here](https://github.com/triniwiz/nativescript-plugins)

[2021-04-06 06:07] PeterStaev commented on #52
Sorry, missed the note in the Readme...

[2021-04-06 06:07] #52 closed

[2021-07-19 22:13] csimpi opened #53 "Changing to @nativescript/core"
Hi @triniwiz ,
are you planning to update the imports from `tns-core-modules` to `@nativescript/core`?

[2021-07-20 01:01] triniwiz commented on #53
https://triniwiz.github.io/nativescript-plugins/api-reference/couchbase.html

[2021-09-15 03:17] keithoys opened #54 "Enquiry: Secure / Encrypt Couchbase DB with a Password"
Hello @triniwiz, is there a way we can password-protect our Couchbase DB file?

I'm working with this plugin and I need to prevent it from being opened (reverse-engineering) with a password that can be programmatically set to open / lock the DB file.

[2021-09-15 04:26] triniwiz commented on #54
That is an enterprise feature [android](https://docs.couchbase.com/couchbase-lite/current/android/database.html#database-encryption) & [ios](https://docs.couchbase.com/couchbase-lite/current/objc/database.html#database-encryption)

[2022-04-25 05:23] xeroxstar opened #55 "minSdk version error"
Trying to install couchbase (0.9.6) but I am getting an error:

[code]

[2022-05-14 03:00] #55 closed

[2022-05-28 07:08] introfaart opened #56 "Data on syncing"
I want to ask how to know if data is finished sync after i called method `createPullReplication()`

[2022-05-29 23:50] triniwiz commented on #56
iirc the database change listener is triggered

[2022-05-31 05:19] elgibor-solution opened #57 "[Question] Prebuild Database"
How to use couchbase prebuild database with this plugin?